My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6f36388a-23ee-454d-8de0-76c87809c414",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/users",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "0989043f-daf7-48d0-a01e-3721c776a22a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14974468-978c-4d64-bbe0-412c254b1f1e",
              "name": "=Name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "616746cc-fea0-4bf9-ac06-6cda4d2c93d5",
              "name": "=Email",
              "value": "={{ $json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "9dd12c87-1216-453c-bb18-ac6004009efc",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2822bd29-8240-4bd7-adb3-c9f81c533f91",
  "meta": {
    "instanceId": "552ff9d4dd7b287287da1d331f664bc7b1f51112aeafec3996a6436e28bf31c2"
  },
  "id": "wbeussE9fALut9QL",
  "tags": []
}